<div class="erb_content">
    <h2>Filtered Books on <%= @filter_name.topic %> </h2>
    <hr />

    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published Date</th>
        <th>Bought Date</th>
        <th>Bought Price</th>
        <th>On Loan?</th>

      </tr>
      <% @topic.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.published_date %></td>
        <td><%= book.bought_date %></td>
        <td><%= book.price %></td>
        <td><%= book.onloan %></td>

        <td><a href="/admin/list_books/<%= book.id %>">edit</a></td>
      </tr>
      <% end %>
    </table>

  </div>
