<div class="erb_content">

<h2><%= @borrower.first_name %> <%= @borrower.last_name %></h2>
<p>Email: <%= @borrower.email %></p>

<a href="/admin/list_borrowers/<%= @borrower.id %>/edit">Edit</a>
<form action="/admin/list_borrowers/<%= @borrower.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

</div>
