<div class="erb_content">

  <h2><%= @borrower.first_name %> <%= @borrower.last_name %></h2>
    <div>Email: <%= @borrower.email %>
      <form class="form_button" action="/admin/list_borrowers/<%= @borrower.id %>/edit" method="get">
        <input class= "form_button2" type="submit" name="Edit" value="Edit">
      </form>
      <form class="form_button" action="/admin/list_borrowers/<%= @borrower.id %>/delete" method="POST">
        <input class= "form_button2" type="submit" value="Delete">
      </form>
    </div>
  <div class="borrowed_books">
    <div class="">
      Books on Loan: <%= @borrower.books.first.title %>
    </div>
  </div>
</div>
